body {
    background: #111;
    color: #EEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

div {
    border-radius: 10px;
    margin: 6px auto;
}

ul {
    min-width: 360px;
    max-width: 460px;
    align-items: left;
    list-style: none;
    justify-content: space-between;
}

.pet-container {
    background: #CCC;
    min-width: 400px;
    max-width: 500px;
    align-items: center;
    font-size: 60px;
}

.pet-state {
    display: flex;
    justify-content: center;
}

.pet-stats {
    background-color: #333;
    min-width: 400px;
    max-width: 500px;
    margin: 6px auto;
}

.pet-interactions {
    background-color: #333;
    min-width: 400px;
    max-width: 500px;
    text-align: center;
    display: none;
}

.button {
    display: inline-block;
    padding: 0 10px;
}