body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: #999;
}

ul {
    width: 460px;
    align-items: left;
    list-style: none;
    background: #EEE;
}

.pet-image {
    width: 500px;
    align-items: center;
    font-size: 60px;
    background-color: #EEE;
}

.pet-state {
    display: flex;
    justify-content: center;
    background: #EEE;
}